form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	font-family: Arial;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	background-color: #f5f5f5;
}
.one input, .two input{
	display: block;
	padding: 5px;
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid #000;
	background-color: #f5f5f5;
}
.reg{
	padding-left: 5px;
}
.one, .two{
	flex-basis: 50%;
	box-sizing: border-box;
}
img{
	width: 29px;
	height: 29px;
	margin: 5px;
}
ul li img:nth-child(3){
	float: left;
}  
ul, ol{
	list-style-type: none;
	padding: 0;
}
.one li:last-child input{
	margin-left: -13px;
}
.one li{
	display: flex;
	align-items: center;
	width: 100%;	
}
.one li:nth-child(3){
	display: inline-flex;		
	width: 48%;
}
.one li:last-child{
	display: inline-flex;		
	width: 51%;
}
.one li:last-child img{
	margin: 0;
	color:  #f5f5f5;
}
.one li input{
	width: 100%;
	margin-left: 15px;
}
ol li{
	display: flex;
	margin: 6px;
}
